In [1]:
import pandas as pd

In [2]:
big_mac = pd.read_csv("./../data/bm.csv")

In [3]:
big_mac.head()

,date,iso_a3,currency_code,name,local_price,dollar_ex,dollar_price,USD_raw,EUR_raw,GBP_raw,JPY_raw,CNY_raw,GDP_dollar,adj_price,USD_adjusted,EUR_adjusted,GBP_adjusted,JPY_adjusted,CNY_adjusted
0,2000-04-01,ARG,ARS,Argentina,2.50,1.00,2.500000,-0.004,0.050,-0.167,-0.099,1.091,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-04-01,AUS,AUD,Australia,2.59,1.68,1.541667,-0.386,-0.352,-0.486,-0.444,0.289,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-04-01,BRA,BRL,Brazil,2.95,1.79,1.648045,-0.343,-0.308,-0.451,-0.406,0.378,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-04-01,CAN,CAD,Canada,2.85,1.47,1.938776,-0.228,-0.186,-0.354,-0.301,0.622,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-04-01,CHE,CHF,Switzerland,5.90,1.70,3.470588,0.383,0.458,0.156,0.251,1.903,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
bigmac = big_mac[["date", "name", "dollar_price"]]

In [5]:
bigmac.columns = ["Date", "Country", "Price in US Dollars"]

In [6]:
bigmac.to_csv("./../data/bigmac.csv")

In [7]:
bigmac = pd.read_csv("./../data/bigmac.csv", parse_dates = ['Date'])

In [8]:
bigmac.head()

   Unnamed: 0       Date      Country  Price in US Dollars
0           0 2000-04-01    Argentina             2.500000
1           1 2000-04-01    Australia             1.541667
2           2 2000-04-01       Brazil             1.648045
3           3 2000-04-01       Canada             1.938776
4           4 2000-04-01  Switzerland             3.470588

In [9]:
bigmac.dtypes

Unnamed: 0                      int64
Date                   datetime64[ns]
Country                        object
Price in US Dollars           float64
dtype: object

In [10]:
bigmac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1162 entries, 0 to 1161
Data columns (total 4 columns):
Unnamed: 0             1162 non-null int64
Date                   1162 non-null datetime64[ns]
Country                1162 non-null object
Price in US Dollars    1162 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 36.4+ KB

In [11]:
# bigmac.set_index(keys = ["date", "Country"], inplace = True)
bigmac.sort_index(inplace = True)

In [12]:
bigmac.head()

   Unnamed: 0       Date      Country  Price in US Dollars
0           0 2000-04-01    Argentina             2.500000
1           1 2000-04-01    Australia             1.541667
2           2 2000-04-01       Brazil             1.648045
3           3 2000-04-01       Canada             1.938776
4           4 2000-04-01  Switzerland             3.470588

In [13]:
bigmac.index.names

FrozenList([None])

In [14]:
type(bigmac.index)

pandas.core.indexes.range.RangeIndex

In [15]:
bigmac.index[0]

0

In [16]:
bigmac = pd.read_csv("./../data/bigmac.csv", parse_dates = ["Date"], index_col = ["Date", "Country"])
bigmac.sort_index(inplace = True)

In [17]:
bigmac.head(3)

                      Unnamed: 0  Price in US Dollars
Date       Country
2000-04-01 Argentina           0             2.500000
           Australia           1             1.541667
           Brazil              2             1.648045

In [18]:
# get the first index values : Dates
bigmac.index.get_level_values(0)
bigmac.index.get_level_values("Date")

# get the second index values : Countries
bigmac.index.get_level_values(1)
bigmac.index.get_level_values("Country")

Index(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Czech Republic', 'Denmark', 'Euro area',
       ...
       'Sweden', 'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'Ukraine',
       'United Arab Emirates', 'United States', 'Uruguay', 'Vietnam'],
      dtype='object', name='Country', length=1162)

In [19]:
# set names

# The .set_names() method in multi-index

In [20]:
bigmac.index.set_names(["Date", "Location"], inplace = True)

In [21]:
# sort date in acsending and country in descending order
bigmac.sort_index(ascending=[True, False], inplace = True)

In [22]:
bm_t = bigmac.transpose()

In [23]:
bm_t.head()

Date                   2000-04-01                                    \
Location            United States   Thailand     Taiwan Switzerland
Unnamed: 0                  26.00  24.000000  25.000000    4.000000
Price in US Dollars          2.51   1.447368   2.287582    3.470588

Date                                                                           \
Location                Sweden South Korea South Africa  Singapore     Russia
Unnamed: 0           23.000000   16.000000    27.000000  22.000000  21.000000
Price in US Dollars   2.714932    2.707581     1.339286   1.882353   1.385965

Date                           ...  2018-07-01                            \
Location               Poland  ...    Colombia        China        Chile
Unnamed: 0           20.00000  ...  1116.00000  1115.000000  1114.000000
Price in US Dollars   1.27907  ...     4.14047     3.095741     4.050757

Date                                                                     \
Location                  Canada      Britain       Brazil      Bahrain
Unnamed: 0           1112.000000  1122.000000  1111.000000  1110.000000
Price in US Dollars     5.067246     4.231535     4.402934     3.161639

Date
Location             Azerbaijan    Australia   Argentina
Unnamed: 0           1109.00000  1108.000000  1107.00000
Price in US Dollars     2.32114     4.515417     2.70514

[2 rows x 1162 columns]

In [24]:
bm_t.ix["Price in US Dollars", ("2000-04-01", "Thailand")]

/anaconda3/envs/machine/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

1.44736842105263

In [25]:
bigmac.ix[("2000-04-01", "Thailand"), "Price in US Dollars"]

/anaconda3/envs/machine/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

1.44736842105263

# The .swaplevel() method

In [26]:
bigmac.head(3)

                          Unnamed: 0  Price in US Dollars
Date       Location
2000-04-01 United States          26             2.510000
           Thailand               24             1.447368
           Taiwan                 25             2.287582

In [28]:
bigmac.swaplevel().head(3)

                          Unnamed: 0  Price in US Dollars
Location      Date
United States 2000-04-01          26             2.510000
Thailand      2000-04-01          24             1.447368
Taiwan        2000-04-01          25             2.287582

# The .stack() method

In [32]:
world= pd.read_csv("./../data/worldstats.csv", index_col = ["country", "year"])

In [33]:
world.head(3)

                  Population           GDP
country    year
Arab World 2015  392022276.0  2.530102e+12
           2014  384222592.0  2.873600e+12
           2013  376504253.0  2.846994e+12

In [37]:
# returns a series
s= world.stack()

# the .unstack() method

In [39]:
s.unstack().unstack()

                          Population                              \
year                            1960          1961          1962
country
Afghanistan             8.994793e+06  9.164945e+06  9.343772e+06
Albania                          NaN           NaN           NaN
Algeria                 1.112489e+07  1.140486e+07  1.169015e+07
Andorra                          NaN           NaN           NaN
Angola                           NaN           NaN           NaN
Antigua and Barbuda              NaN           NaN           NaN
Arab World                       NaN           NaN           NaN
Argentina                        NaN           NaN  2.128768e+07
Armenia                          NaN           NaN           NaN
Aruba                            NaN           NaN           NaN
Australia               1.027648e+07  1.048300e+07  1.074200e+07
Austria                 7.047539e+06  7.086299e+06  7.129864e+06
Azerbaijan                       NaN           NaN           NaN
Bahamas, The            1.095260e+05  1.151080e+05  1.210830e+05
Bahrain                          NaN           NaN           NaN
Bangladesh              4.820070e+07  4.959361e+07  5.103060e+07
Barbados                         NaN           NaN           NaN
Belarus                          NaN           NaN           NaN
Belgium                 9.153489e+06  9.183948e+06  9.220578e+06
Belize                  9.206800e+04  9.470100e+04  9.738900e+04
Benin                   2.431620e+06  2.466002e+06  2.503232e+06
Bermuda                 4.440000e+04  4.550000e+04  4.660000e+04
Bhutan                           NaN           NaN           NaN
Bolivia                 3.693451e+06  3.764815e+06  3.838096e+06
Bosnia and Herzegovina           NaN           NaN           NaN
Botswana                5.240290e+05  5.365760e+05  5.499900e+05
Brazil                  7.249358e+07  7.470689e+07  7.700755e+07
Brunei Darussalam                NaN           NaN           NaN
Bulgaria                         NaN           NaN           NaN
Burkina Faso            4.829291e+06  4.894578e+06  4.960325e+06
...                              ...           ...           ...
Switzerland             5.327827e+06  5.434294e+06  5.573815e+06
Syrian Arab Republic    4.592777e+06  4.742596e+06  4.897428e+06
Tajikistan                       NaN           NaN           NaN
Tanzania                         NaN           NaN           NaN
Thailand                2.739718e+07  2.822421e+07  2.908104e+07
Timor-Leste                      NaN           NaN           NaN
Togo                    1.580513e+06  1.597528e+06  1.612758e+06
Tonga                            NaN           NaN           NaN
Trinidad and Tobago     8.484810e+05  8.653560e+05  8.800190e+05
Tunisia                          NaN           NaN           NaN
Turkey                  2.755328e+07  2.822929e+07  2.890998e+07
Turkmenistan                     NaN           NaN           NaN
Tuvalu                           NaN           NaN           NaN
Uganda                  6.788211e+06  7.006629e+06  7.240155e+06
Ukraine                          NaN           NaN           NaN
United Arab Emirates             NaN           NaN           NaN
United Kingdom          5.240000e+07  5.280000e+07  5.325000e+07
United States           1.806710e+08  1.836910e+08  1.865380e+08
Upper middle income     1.154592e+09  1.159145e+09  1.176093e+09
Uruguay                 2.538651e+06  2.571691e+06  2.603887e+06
Uzbekistan                       NaN           NaN           NaN
Vanuatu                          NaN           NaN           NaN
Venezuela, RB           8.146845e+06  8.461684e+06  8.790590e+06
Vietnam                          NaN           NaN           NaN
Virgin Islands (U.S.)   3.200000e+04  3.410000e+04  3.630000e+04
West Bank and Gaza               NaN           NaN           NaN
World                   3.035056e+09  3.076121e+09  3.129064e+09
Yemen, Rep.                      NaN           NaN           NaN
Zambia                  3.049586e+06  3.142848e+06  3.240664e+06
Zimbabwe                3.752390e+06  3.876638e+06  4.006262e+06

                                                                  \
year                            1963          1964          1965
country
Afghanistan             9.531555e+06  9.728645e+06  9.935358e+06
Albania                          NaN           NaN           NaN
Algeria                 1.198513e+07  1.229597e+07  1.262695e+07
Andorra                          NaN           NaN           NaN
Angola                           NaN           NaN           NaN
Antigua and Barbuda              NaN           NaN           NaN
Arab World                       NaN           NaN           NaN
Argentina               2.162184e+07  2.195393e+07  2.228339e+07
Armenia                          NaN           NaN           NaN
Aruba                            NaN           NaN           NaN
Australia               1.095000e+07  1.116700e+07  1.138800e+07
Austria                 7.175811e+06  7.223801e+06  7.270889e+06
Azerbaijan                       NaN           NaN           NaN
Bahamas, The            1.273310e+05  1.336970e+05  1.400490e+05
Bahrain                          NaN           NaN           NaN
Bangladesh              5.253260e+07  5.412939e+07  5.583502e+07
Barbados                         NaN           NaN           NaN
Belarus                          NaN           NaN           NaN
Belgium                 9.289770e+06  9.378113e+06  9.463667e+06
Belize                  1.001660e+05  1.030700e+05  1.061210e+05
Benin                   2.543335e+06  2.586362e+06  2.632360e+06
Bermuda                 4.770000e+04  4.890000e+04  5.010000e+04
Bhutan                           NaN           NaN           NaN
Bolivia                 3.913397e+06  3.990855e+06  4.070590e+06
Bosnia and Herzegovina           NaN           NaN           NaN
Botswana                5.643160e+05  5.795600e+05  5.957410e+05
Brazil                  7.936845e+07  8.175180e+07  8.413006e+07
Brunei Darussalam                NaN           NaN  1.025250e+05
Bulgaria                         NaN           NaN           NaN
Burkina Faso            5.027818e+06  5.098892e+06  5.174869e+06
...                              ...           ...           ...
Switzerland             5.694247e+06  5.789228e+06  5.856472e+06
Syrian Arab Republic    5.057825e+06  5.224579e+06  5.398333e+06
Tajikistan                       NaN           NaN           NaN
Tanzania                         NaN           NaN           NaN
Thailand                2.996704e+07  3.088133e+07  3.182280e+07
Timor-Leste                      NaN           NaN           NaN
Togo                    1.631763e+06  1.662072e+06  1.708632e+06
Tonga                            NaN           NaN           NaN
Trinidad and Tobago     8.925710e+05  9.032720e+05  9.124190e+05
Tunisia                          NaN           NaN  4.630000e+06
Turkey                  2.959705e+07  3.029297e+07  3.100017e+07
Turkmenistan                     NaN           NaN           NaN
Tuvalu                           NaN           NaN           NaN
Uganda                  7.487411e+06  7.746181e+06  8.014376e+06
Ukraine                          NaN           NaN           NaN
United Arab Emirates             NaN           NaN           NaN
United Kingdom          5.365000e+07  5.400000e+07  5.434805e+07
United States           1.892420e+08  1.918890e+08  1.943030e+08
Upper middle income     1.204372e+09  1.232266e+09  1.261069e+09
Uruguay                 2.635128e+06  2.665387e+06  2.694535e+06
Uzbekistan                       NaN           NaN           NaN
Vanuatu                          NaN           NaN           NaN
Venezuela, RB           9.130346e+06  9.476255e+06  9.824694e+06
Vietnam                          NaN           NaN           NaN
Virgin Islands (U.S.)   3.870000e+04  4.130000e+04  4.400000e+04
West Bank and Gaza               NaN           NaN           NaN
World                   3.193947e+09  3.259355e+09  3.326054e+09
Yemen, Rep.                      NaN           NaN           NaN
Zambia                  3.342894e+06  3.449266e+06  3.559687e+06
Zimbabwe                4.140804e+06  4.279561e+06  4.422132e+06

                                                                  \
year                            1966          1967          1968
country
Afghanistan             1.014884e+07  1.036860e+07  1.059979e+07
Albania                          NaN           NaN           NaN
Algeria                 1.298027e+07  1.335420e+07  1.374438e+07
Andorra                          NaN           NaN           NaN
Angola                           NaN           NaN           NaN
Antigua and Barbuda              NaN           NaN           NaN
Arab World                       NaN           NaN  1.155571e+08
Argentina               2.260875e+07  2.293220e+07  2.326127e+07
Armenia                          NaN           NaN           NaN
Aruba                            NaN           NaN           NaN
Australia               1.165100e+07  1.179900e+07  1.200900e+07
Austria                 7.322066e+06  7.376998e+06  7.415403e+06
Azerbaijan                       NaN           NaN           NaN
Bahamas, The            1.463640e+05  1.526070e+05  1.586290e+05
Bahrain                          NaN           NaN           NaN
Bangladesh              5.767553e+07  5.962529e+07  6.158552e+07
Barbados                         NaN           NaN           NaN
Belarus                          NaN           NaN           NaN
Belgium                 9.527807e+06  9.580991e+06  9.618756e+06
Belize                  1.093440e+05  1.126990e+05  1.160610e+05
Benin                   2.681382e+06  2.733450e+06  2.788551e+06
Bermuda                 5.100000e+04  5.200000e+04  5.300000e+04
Bhutan                           NaN           NaN           NaN
Bolivia                 4.152665e+06  4.237126e+06  4.324066e+06
Bosnia and Herzegovina           NaN           NaN           NaN
Botswana                6.129500e+05  6.312760e+05  6.507300e+05
Brazil                  8.649499e+07  8.885368e+07  9.121301e+07
Brunei Darussalam       1.074500e+05  1.126800e+05  1.181760e+05
Bulgaria                         NaN           NaN           NaN
Burkina Faso            5.256363e+06  5.343020e+06  5.434040e+06
...                              ...           ...           ...
Switzerland             5.918002e+06  5.991785e+06  6.067714e+06
Syrian Arab Republic    5.579283e+06  5.767478e+06  5.963248e+06
Tajikistan                       NaN           NaN           NaN
Tanzania                         NaN           NaN           NaN
Thailand                3.278910e+07  3.377850e+07  3.479094e+07
Timor-Leste                      NaN           NaN           NaN
Togo                    1.774029e+06  1.855445e+06  1.945781e+06
Tonga                            NaN           NaN           NaN
Trinidad and Tobago     9.199020e+05  9.259180e+05  9.314660e+05
Tunisia                 4.731395e+06  4.832923e+06  4.933131e+06
Turkey                  3.171827e+07  3.244840e+07  3.319629e+07
Turkmenistan                     NaN           NaN           NaN
Tuvalu                           NaN           NaN           NaN
Uganda                  8.292747e+06  8.580632e+06  8.872866e+06
Ukraine                          NaN           NaN           NaN
United Arab Emirates             NaN           NaN           NaN
United Kingdom          5.464850e+07  5.494360e+07  5.521170e+07
United States           1.965600e+08  1.987120e+08  2.007060e+08
Upper middle income     1.292755e+09  1.323615e+09  1.355381e+09
Uruguay                 2.722874e+06  2.750093e+06  2.774771e+06
Uzbekistan                       NaN           NaN           NaN
Vanuatu                          NaN           NaN           NaN
Venezuela, RB           1.017514e+07  1.052805e+07  1.088200e+07
Vietnam                          NaN           NaN           NaN
Virgin Islands (U.S.)   4.730000e+04  5.080000e+04  5.460000e+04
West Bank and Gaza               NaN           NaN           NaN
World                   3.395866e+09  3.465297e+09  3.535512e+09
Yemen, Rep.                      NaN           NaN           NaN
Zambia                  3.674088e+06  3.792864e+06  3.916928e+06
Zimbabwe                4.568320e+06  4.718612e+06  4.874113e+06

                                      ...           GDP                \
year                            1969  ...          2006          2007
country                               ...
Afghanistan             1.084951e+07  ...  7.057598e+09  9.843842e+09
Albania                          NaN  ...  8.992642e+09  1.070101e+10
Algeria                 1.414444e+07  ...  1.170273e+11  1.349771e+11
Andorra                          NaN  ...  3.536452e+09  4.010785e+09
Angola                           NaN  ...  4.178948e+10  6.044892e+10
Antigua and Barbuda              NaN  ...  1.135144e+09  1.289254e+09
Arab World              1.188239e+08  ...  1.404190e+12  1.641666e+12
Argentina               2.360599e+07  ...  2.626665e+11  3.293175e+11
Armenia                          NaN  ...  6.384452e+09  9.206302e+09
Aruba                            NaN  ...  2.421475e+09  2.623726e+09
Australia               1.226300e+07  ...  7.468808e+11  8.530533e+11
Austria                 7.441055e+06  ...  3.343094e+11  3.864590e+11
Azerbaijan                       NaN  ...  2.098302e+10  3.305034e+10
Bahamas, The            1.642500e+05  ...  7.965588e+09  8.318996e+09
Bahrain                          NaN  ...  1.850505e+10  2.173000e+10
Bangladesh              6.342257e+07  ...  7.181908e+10  7.961189e+10
Barbados                         NaN  ...  4.303500e+09  4.546000e+09
Belarus                          NaN  ...  3.696182e+10  4.527575e+10
Belgium                 9.646032e+06  ...  4.098131e+11  4.718218e+11
Belize                  1.192600e+05  ...  1.217442e+09  1.290543e+09
Benin                   2.846652e+06  ...  5.142381e+09  5.969535e+09
Bermuda                 5.400000e+04  ...  5.414299e+09  5.895048e+09
Bhutan                           NaN  ...  8.977315e+08  1.196092e+09
Bolivia                 4.413584e+06  ...  1.145187e+10  1.312018e+10
Bosnia and Herzegovina           NaN  ...  1.286652e+10  1.577642e+10
Botswana                6.713050e+05  ...  1.012694e+10  1.093905e+10
Brazil                  9.358575e+07  ...  1.107640e+12  1.397084e+12
Brunei Darussalam       1.238750e+05  ...  1.147070e+10  1.224769e+10
Bulgaria                         NaN  ...  3.430445e+10  4.476573e+10
Burkina Faso            5.528172e+06  ...  5.844670e+09  6.771278e+09
...                              ...  ...           ...           ...
Switzerland             6.136387e+06  ...  4.291956e+11  4.774078e+11
Syrian Arab Republic    6.166933e+06  ...  3.333284e+10  4.040501e+10
Tajikistan                       NaN  ...  2.830229e+09  3.719515e+09
Tanzania                         NaN  ...  1.861046e+10  2.150174e+10
Thailand                3.582680e+07  ...  2.217585e+11  2.629427e+11
Timor-Leste                      NaN  ...  4.630000e+08  5.590000e+08
Togo                    2.034909e+06  ...  2.202809e+09  2.523463e+09
Tonga                            NaN  ...  2.879830e+08  2.996579e+08
Trinidad and Tobago     9.378460e+05  ...  1.836907e+10  2.164230e+10
Tunisia                 5.031211e+06  ...  3.437844e+10  3.890807e+10
Turkey                  3.396920e+07  ...  5.309001e+11  6.471551e+11
Turkmenistan                     NaN  ...  1.027760e+10  1.266417e+10
Tuvalu                           NaN  ...  2.290286e+07  2.703037e+07
Uganda                  9.162773e+06  ...  9.942598e+09  1.229281e+10
Ukraine                          NaN  ...  1.077531e+11  1.427190e+11
United Arab Emirates             NaN  ...  2.221059e+11  2.579161e+11
United Kingdom          5.544175e+07  ...  2.588077e+12  2.969734e+12
United States           2.026770e+08  ...  1.385589e+13  1.447764e+13
Upper middle income     1.388827e+09  ...  8.620784e+12  1.073130e+13
Uruguay                 2.795044e+06  ...  1.957946e+10  2.341057e+10
Uzbekistan                       NaN  ...  1.703090e+10  2.231139e+10
Vanuatu                          NaN  ...  4.393768e+08  5.264283e+08
Venezuela, RB           1.123549e+07  ...  1.834775e+11  2.303642e+11
Vietnam                          NaN  ...  6.637166e+10  7.741443e+10
Virgin Islands (U.S.)   5.860000e+04  ...           NaN           NaN
West Bank and Gaza               NaN  ...  4.910100e+09  5.505800e+09
World                   3.609910e+09  ...  5.107451e+13  5.758343e+13
Yemen, Rep.                      NaN  ...  1.908173e+10  2.563367e+10
Zambia                  4.047479e+06  ...  1.275686e+10  1.405696e+10
Zimbabwe                5.036321e+06  ...  5.443896e+09  5.291950e+09

                                                                  \
year                            2008          2009          2010
country
Afghanistan             1.019053e+10  1.248694e+10  1.593680e+10
Albania                 1.288135e+10  1.204421e+10  1.192695e+10
Algeria                 1.710007e+11  1.372110e+11  1.612073e+11
Andorra                 4.001349e+09  3.649863e+09  3.346317e+09
Angola                  8.417803e+10  7.549238e+10  8.247091e+10
Antigua and Barbuda     1.347350e+09  1.206410e+09  1.135539e+09
Arab World              2.081343e+12  1.798878e+12  2.103825e+12
Argentina               4.037820e+11  3.766279e+11  4.616402e+11
Armenia                 1.166204e+10  8.647937e+09  9.260285e+09
Aruba                   2.791961e+09  2.498933e+09  2.467704e+09
Australia               1.054558e+12  9.265638e+11  1.142251e+12
Austria                 4.276115e+11  3.975943e+11  3.902351e+11
Azerbaijan              4.885248e+10  4.429149e+10  5.290270e+10
Bahamas, The            8.246650e+09  7.820420e+09  7.909580e+09
Bahrain                 2.571088e+10  2.293822e+10  2.571327e+10
Bangladesh              9.163128e+10  1.024778e+11  1.152791e+11
Barbados                4.595000e+09  4.602000e+09  4.445500e+09
Belarus                 6.075218e+10  4.920866e+10  5.522093e+10
Belgium                 5.186260e+11  4.845527e+11  4.835775e+11
Belize                  1.368625e+09  1.336957e+09  1.397113e+09
Benin                   7.132787e+09  7.097199e+09  6.970241e+09
Bermuda                 6.109928e+09  5.806378e+09  5.744414e+09
Bhutan                  1.258332e+09  1.264758e+09  1.585473e+09
Bolivia                 1.667432e+10  1.733999e+10  1.964963e+10
Bosnia and Herzegovina  1.910145e+10  1.760063e+10  1.716312e+10
Botswana                1.094507e+10  1.026713e+10  1.278666e+10
Brazil                  1.695825e+12  1.667020e+12  2.208872e+12
Brunei Darussalam       1.439310e+10  1.073237e+10  1.237062e+10
Bulgaria                5.466664e+10  5.178345e+10  4.993917e+10
Burkina Faso            8.369637e+09  8.369175e+09  8.979967e+09
...                              ...           ...           ...
Switzerland             5.515470e+11  5.395282e+11  5.812117e+11
Syrian Arab Republic             NaN           NaN           NaN
Tajikistan              5.161299e+09  4.979472e+09  5.642222e+09
Tanzania                2.736839e+10  2.857378e+10  3.140791e+10
Thailand                2.913831e+11  2.815748e+11  3.409236e+11
Timor-Leste             6.940000e+08  8.180000e+08  9.340000e+08
Togo                    3.163416e+09  3.163001e+09  3.172946e+09
Tonga                   3.400415e+08  3.213034e+08  3.698161e+08
Trinidad and Tobago     2.787026e+10  1.917520e+10  2.103761e+10
Tunisia                 4.485659e+10  4.345494e+10  4.405093e+10
Turkey                  7.303375e+11  6.145539e+11  7.311681e+11
Turkmenistan            1.927152e+10  2.021439e+10  2.258316e+10
Tuvalu                  3.029022e+07  2.710108e+07  3.182352e+07
Uganda                  1.423903e+10  1.787818e+10  2.018180e+10
Ukraine                 1.799924e+11  1.172278e+11  1.364193e+11
United Arab Emirates    3.154746e+11  2.535474e+11  2.860493e+11

In [43]:
s.unstack(1)

year                                      1960          1961          1962  \
country
Afghanistan           Population  8.994793e+06  9.164945e+06  9.343772e+06
                      GDP         5.377778e+08  5.488889e+08  5.466667e+08
Albania               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Algeria               Population  1.112489e+07  1.140486e+07  1.169015e+07
                      GDP         2.723638e+09  2.434767e+09  2.001461e+09
Andorra               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Angola                Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Antigua and Barbuda   Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Arab World            Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Argentina             Population           NaN           NaN  2.128768e+07
                      GDP                  NaN           NaN  2.445060e+10
Armenia               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Aruba                 Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Australia             Population  1.027648e+07  1.048300e+07  1.074200e+07
                      GDP         1.856759e+10  1.963938e+10  1.988353e+10
Austria               Population  7.047539e+06  7.086299e+06  7.129864e+06
                      GDP         6.592694e+09  7.311750e+09  7.756110e+09
Azerbaijan            Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Bahamas, The          Population  1.095260e+05  1.151080e+05  1.210830e+05
                      GDP         1.698023e+08  1.900962e+08  2.122528e+08
Bahrain               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
...                                        ...           ...           ...
United Arab Emirates  Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
United Kingdom        Population  5.240000e+07  5.280000e+07  5.325000e+07
                      GDP         7.232805e+10  7.669436e+10  8.060194e+10
United States         Population  1.806710e+08  1.836910e+08  1.865380e+08
                      GDP         5.433000e+11  5.633000e+11  6.051000e+11
Upper middle income   Population  1.154592e+09  1.159145e+09  1.176093e+09
                      GDP         1.854612e+11  1.690732e+11  1.777957e+11
Uruguay               Population  2.538651e+06  2.571691e+06  2.603887e+06
                      GDP         1.242289e+09  1.547389e+09  1.710004e+09
Uzbekistan            Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Vanuatu               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Venezuela, RB         Population  8.146845e+06  8.461684e+06  8.790590e+06
                      GDP         8.607600e+09  8.923367e+09  9.873398e+09
Vietnam               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Virgin Islands (U.S.) Population  3.200000e+04  3.410000e+04  3.630000e+04
                      GDP         2.420000e+07  2.570000e+07  3.690000e+07
West Bank and Gaza    Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
World                 Population  3.035056e+09  3.076121e+09  3.129064e+09
                      GDP         1.364643e+12  1.420440e+12  1.524573e+12
Yemen, Rep.           Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Zambia                Population  3.049586e+06  3.142848e+06  3.240664e+06
                      GDP         6.987397e+08  6.823597e+08  6.792797e+08
Zimbabwe              Population  3.752390e+06  3.876638e+06  4.006262e+06
                      GDP         1.052990e+09  1.096647e+09  1.117602e+09

year                                      1963          1964          1965  \
country
Afghanistan           Population  9.531555e+06  9.728645e+06  9.935358e+06
                      GDP         7.511112e+08  8.000000e+08  1.006667e+09
Albania               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Algeria               Population  1.198513e+07  1.229597e+07  1.262695e+07
                      GDP         2.703004e+09  2.909340e+09  3.136284e+09
Andorra               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Angola                Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Antigua and Barbuda   Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Arab World            Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Argentina             Population  2.162184e+07  2.195393e+07  2.228339e+07
                      GDP         1.827212e+10  2.560525e+10  2.834471e+10
Armenia               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Aruba                 Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Australia             Population  1.095000e+07  1.116700e+07  1.138800e+07
                      GDP         2.149737e+10  2.375406e+10  2.592564e+10
Austria               Population  7.175811e+06  7.223801e+06  7.270889e+06
                      GDP         8.374175e+09  9.169984e+09  9.994071e+09
Azerbaijan            Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Bahamas, The          Population  1.273310e+05  1.336970e+05  1.400490e+05
                      GDP         2.377428e+08  2.666641e+08  3.003922e+08
Bahrain               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
...                                        ...           ...           ...
United Arab Emirates  Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
United Kingdom        Population  5.365000e+07  5.400000e+07  5.434805e+07
                      GDP         8.544377e+10  9.338760e+10  1.005958e+11
United States         Population  1.892420e+08  1.918890e+08  1.943030e+08
                      GDP         6.386000e+11  6.858000e+11  7.437000e+11
Upper middle income   Population  1.204372e+09  1.232266e+09  1.261069e+09
                      GDP         1.955819e+11  2.144250e+11  2.397244e+11
Uruguay               Population  2.635128e+06  2.665387e+06  2.694535e+06
                      GDP         1.539682e+09  1.975702e+09  1.890769e+09
Uzbekistan            Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Vanuatu               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Venezuela, RB         Population  9.130346e+06  9.476255e+06  9.824694e+06
                      GDP         1.066338e+10  9.113581e+09  9.602945e+09
Vietnam               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Virgin Islands (U.S.) Population  3.870000e+04  4.130000e+04  4.400000e+04
                      GDP         4.140000e+07  5.380000e+07  6.650000e+07
West Bank and Gaza    Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
World                 Population  3.193947e+09  3.259355e+09  3.326054e+09
                      GDP         1.638187e+12  1.799675e+12  1.959900e+12
Yemen, Rep.           Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Zambia                Population  3.342894e+06  3.449266e+06  3.559687e+06
                      GDP         7.043397e+08  8.226397e+08  1.061200e+09
Zimbabwe              Population  4.140804e+06  4.279561e+06  4.422132e+06
                      GDP         1.159512e+09  1.217138e+09  1.311436e+09

year                                      1966          1967          1968  \
country
Afghanistan           Population  1.014884e+07  1.036860e+07  1.059979e+07
                      GDP         1.400000e+09  1.673333e+09  1.373333e+09
Albania               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Algeria               Population  1.298027e+07  1.335420e+07  1.374438e+07
                      GDP         3.039859e+09  3.370870e+09  3.852147e+09
Andorra               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Angola                Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Antigua and Barbuda   Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Arab World            Population           NaN           NaN  1.155571e+08
                      GDP                  NaN           NaN  2.552596e+10
Argentina             Population  2.260875e+07  2.293220e+07  2.326127e+07
                      GDP         2.863047e+10  2.425667e+10  2.643686e+10
Armenia               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Aruba                 Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Australia             Population  1.165100e+07  1.179900e+07  1.200900e+07
                      GDP         2.725053e+10  3.037854e+10  3.264195e+10
Austria               Population  7.322066e+06  7.376998e+06  7.415403e+06
                      GDP         1.088768e+10  1.157943e+10  1.244063e+10
Azerbaijan            Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Bahamas, The          Population  1.463640e+05  1.526070e+05  1.586290e+05
                      GDP         3.400000e+08  3.901961e+08  4.449020e+08
Bahrain               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
...                                        ...           ...           ...
United Arab Emirates  Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
United Kingdom        Population  5.464850e+07  5.494360e+07  5.521170e+07
                      GDP         1.070907e+11  1.111854e+11  1.047027e+11
United States         Population  1.965600e+08  1.987120e+08  2.007060e+08
                      GDP         8.150000e+11  8.617000e+11  9.425000e+11
Upper middle income   Population  1.292755e+09  1.323615e+09  1.355381e+09
                      GDP         2.666625e+11  2.766866e+11  2.898954e+11
Uruguay               Population  2.722874e+06  2.750093e+06  2.774771e+06
                      GDP         1.809184e+09  1.597721e+09  1.593675e+09
Uzbekistan            Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Vanuatu               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Venezuela, RB         Population  1.017514e+07  1.052805e+07  1.088200e+07
                      GDP         1.009657e+10  1.047278e+10  1.147091e+10
Vietnam               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Virgin Islands (U.S.) Population  4.730000e+04  5.080000e+04  5.460000e+04
                      GDP         8.410000e+07  1.154000e+08  1.738000e+08
West Bank and Gaza    Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
World                 Population  3.395866e+09  3.465297e+09  3.535512e+09
                      GDP         2.125397e+12  2.262923e+12  2.440549e+12
Yemen, Rep.           Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Zambia                Population  3.674088e+06  3.792864e+06  3.916928e+06
                      GDP         1.239000e+09  1.340639e+09  1.573739e+09
Zimbabwe              Population  4.568320e+06  4.718612e+06  4.874113e+06
                      GDP         1.281750e+09  1.397002e+09  1.479600e+09

year                                      1969  ...          2006  \
country                                         ...
Afghanistan           Population  1.084951e+07  ...  2.518362e+07
                      GDP         1.408889e+09  ...  7.057598e+09
Albania               Population           NaN  ...  2.992547e+06
                      GDP                  NaN  ...  8.992642e+09
Algeria               Population  1.414444e+07  ...  3.374933e+07
                      GDP         4.257253e+09  ...  1.170273e+11
Andorra               Population           NaN  ...  8.337300e+04
                      GDP                  NaN  ...  3.536452e+09
Angola                Population           NaN  ...  1.854147e+07
                      GDP                  NaN  ...  4.178948e+10
Antigua and Barbuda   Population           NaN  ...  8.346700e+04
                      GDP                  NaN  ...  1.135144e+09
Arab World            Population  1.188239e+08  ...  3.209067e+08
                      GDP         2.817577e+10  ...  1.404190e+12
Argentina             Population  2.360599e+07  ...  3.955875e+07
                      GDP         3.125628e+10  ...  2.626665e+11
Armenia               Population           NaN  ...  3.002161e+06
                      GDP                  NaN  ...  6.384452e+09
Aruba                 Population           NaN  ...  1.008300e+05
                      GDP                  NaN  ...  2.421475e+09
Australia             Population  1.226300e+07  ...  2.069790e+07
                      GDP         3.660656e+10  ...  7.468808e+11
Austria               Population  7.441055e+06  ...  8.268641e+06
                      GDP         1.358280e+10  ...  3.343094e+11
Azerbaijan            Population           NaN  ...  8.484550e+06
                      GDP                  NaN  ...  2.098302e+10
Bahamas, The          Population  1.642500e+05  ...  3.358010e+05
                      GDP         5.281373e+08  ...  7.965588e+09
Bahrain               Population           NaN  ...  9.408080e+05
                      GDP                  NaN  ...  1.850505e+10
...                                        ...  ...           ...
United Arab Emirates  Population           NaN  ...  5.171255e+06
                      GDP                  NaN  ...  2.221059e+11
United Kingdom        Population  5.544175e+07  ...  6.084682e+07
                      GDP         1.126769e+11  ...  2.588077e+12
United States         Population  2.026770e+08  ...  2.983799e+08
                      GDP         1.019900e+12  ...  1.385589e+13
Upper middle income   Population  1.388827e+09  ...  2.380136e+09
                      GDP         3.221882e+11  ...  8.620784e+12
Uruguay               Population  2.795044e+06  ...  3.331041e+06
                      GDP         2.004435e+09  ...  1.957946e+10
Uzbekistan            Population           NaN  ...  2.648825e+07
                      GDP                  NaN  ...  1.703090e+10
Vanuatu               Population           NaN  ...  2.146350e+05
                      GDP                  NaN  ...  4.393768e+08
Venezuela, RB         Population  1.123549e+07  ...  2.722123e+07
                      GDP         1.192757e+10  ...  1.834775e+11
Vietnam               Population           NaN  ...  8.331120e+07
                      GDP                  NaN  ...  6.637166e+10
Virgin Islands (U.S.) Population  5.860000e+04  ...           NaN
                      GDP         2.113000e+08  ...           NaN
West Bank and Gaza    Population           NaN  ...  3.406334e+06
                      GDP                  NaN  ...  4.910100e+09
World                 Population  3.609910e+09  ...  6.594722e+09
                      GDP         2.686747e+12  ...  5.107451e+13
Yemen, Rep.           Population           NaN  ...  2.109397e+07
                      GDP                  NaN  ...  1.908173e+10
Zambia                Population  4.047479e+06  ...  1.238151e+07
                      GDP         1.926399e+09  ...  1.275686e+10
Zimbabwe              Population  5.036321e+06  ...  1.312794e+07
                      GDP         1.747999e+09  ...  5.443896e+09

year                                      2007          2008          2009  \
country
Afghanistan           Population  2.587754e+07  2.652874e+07  2.720729e+07
                      GDP         9.843842e+09  1.019053e+10  1.248694e+10
Albania               Population  2.970017e+06  2.947314e+06  2.927519e+06
                      GDP         1.070101e+10  1.288135e+10  1.204421e+10
Algeria               Population  3.426197e+07  3.481106e+07  3.540179e+07
                      GDP         1.349771e+11  1.710007e+11  1.372110e+11
Andorra               Population  8.487800e+04  8.561600e+04  8.547400e+04
                      GDP         4.010785e+09  4.001349e+09  3.649863e+09
Angola                Population  1.918391e+07  1.984225e+07  2.052010e+07
                      GDP         6.044892e+10  8.417803e+10  7.549238e+10
Antigua and Barbuda   Population  8.439700e+04  8.535000e+04  8.630000e+04
                      GDP         1.289254e+09  1.347350e+09  1.206410e+09
Arab World            Population  3.287666e+08  3.368865e+08  3.450542e+08
                      GDP         1.641666e+12  2.081343e+12  1.798878e+12
Argentina             Population  3.996990e+07  4.038186e+07  4.079864e+07
                      GDP         3.293175e+11  4.037820e+11  3.766279e+11
Armenia               Population  2.988117e+06  2.975029e+06  2.966108e+06
                      GDP         9.206302e+09  1.166204e+10  8.647937e+09
Aruba                 Population  1.012180e+05  1.013420e+05  1.014160e+05
                      GDP         2.623726e+09  2.791961e+09  2.498933e+09
Australia             Population  2.082760e+07  2.124920e+07  2.169170e+07
                      GDP         8.530533e+11  1.054558e+12  9.265638e+11
Austria               Population  8.295487e+06  8.321496e+06  8.343323e+06

In [44]:
s.unstack('country')

country           Afghanistan       Albania       Algeria       Andorra  \
year
1960 Population  8.994793e+06           NaN  1.112489e+07           NaN
     GDP         5.377778e+08           NaN  2.723638e+09           NaN
1961 Population  9.164945e+06           NaN  1.140486e+07           NaN
     GDP         5.488889e+08           NaN  2.434767e+09           NaN
1962 Population  9.343772e+06           NaN  1.169015e+07           NaN
     GDP         5.466667e+08           NaN  2.001461e+09           NaN
1963 Population  9.531555e+06           NaN  1.198513e+07           NaN
     GDP         7.511112e+08           NaN  2.703004e+09           NaN
1964 Population  9.728645e+06           NaN  1.229597e+07           NaN
     GDP         8.000000e+08           NaN  2.909340e+09           NaN
1965 Population  9.935358e+06           NaN  1.262695e+07           NaN
     GDP         1.006667e+09           NaN  3.136284e+09           NaN
1966 Population  1.014884e+07           NaN  1.298027e+07           NaN
     GDP         1.400000e+09           NaN  3.039859e+09           NaN
1967 Population  1.036860e+07           NaN  1.335420e+07           NaN
     GDP         1.673333e+09           NaN  3.370870e+09           NaN
1968 Population  1.059979e+07           NaN  1.374438e+07           NaN
     GDP         1.373333e+09           NaN  3.852147e+09           NaN
1969 Population  1.084951e+07           NaN  1.414444e+07           NaN
     GDP         1.408889e+09           NaN  4.257253e+09           NaN
1970 Population  1.112110e+07           NaN  1.455003e+07  2.427900e+04
     GDP         1.748887e+09           NaN  4.863488e+09  7.861762e+07
1971 Population  1.141282e+07           NaN  1.496011e+07  2.556000e+04
     GDP         1.831109e+09           NaN  5.077222e+09  8.940659e+07
1972 Population  1.171690e+07           NaN  1.537710e+07  2.689200e+04
     GDP         1.595555e+09           NaN  6.761786e+09  1.134144e+08
1973 Population  1.202251e+07           NaN  1.580443e+07  2.823100e+04
     GDP         1.733333e+09           NaN  8.715106e+09  1.508416e+08
1974 Population  1.231555e+07           NaN  1.624711e+07  2.951400e+04
     GDP         2.155555e+09           NaN  1.320971e+10  1.865572e+08
...                       ...           ...           ...           ...
2001 Population  2.053116e+07  3.060173e+06  3.159032e+07  6.777000e+04
     GDP         2.461666e+09  4.060759e+09  5.474471e+10  1.484005e+09
2002 Population  2.148708e+07  3.051010e+06  3.199039e+07  7.104600e+04
     GDP         4.128818e+09  4.435079e+09  5.676029e+10  1.717564e+09
2003 Population  2.250737e+07  3.039616e+06  3.239489e+07  7.478300e+04
     GDP         4.583649e+09  5.746946e+09  6.786383e+10  2.373836e+09
2004 Population  2.349985e+07  3.026939e+06  3.281722e+07  7.833700e+04
     GDP         5.285462e+09  7.314865e+09  8.532500e+10  2.916913e+09
2005 Population  2.439995e+07  3.011487e+06  3.326789e+07  8.122300e+04
     GDP         6.275076e+09  8.158549e+09  1.031982e+11  3.248135e+09
2006 Population  2.518362e+07  2.992547e+06  3.374933e+07  8.337300e+04
     GDP         7.057598e+09  8.992642e+09  1.170273e+11  3.536452e+09
2007 Population  2.587754e+07  2.970017e+06  3.426197e+07  8.487800e+04
     GDP         9.843842e+09  1.070101e+10  1.349771e+11  4.010785e+09
2008 Population  2.652874e+07  2.947314e+06  3.481106e+07  8.561600e+04
     GDP         1.019053e+10  1.288135e+10  1.710007e+11  4.001349e+09
2009 Population  2.720729e+07  2.927519e+06  3.540179e+07  8.547400e+04
     GDP         1.248694e+10  1.204421e+10  1.372110e+11  3.649863e+09
2010 Population  2.796221e+07  2.913021e+06  3.603616e+07  8.441900e+04
     GDP         1.593680e+10  1.192695e+10  1.612073e+11  3.346317e+09
2011 Population  2.880917e+07  2.904780e+06  3.671713e+07  8.232600e+04
     GDP         1.793024e+10  1.289087e+10  2.000131e+11  3.427236e+09
2012 Population  2.972680e+07  2.900247e+06  3.743943e+07  7.931600e+04
     GDP         2.053654e+10  1.231978e+10  2.090474e+11  3.146178e+09
2013 Population  3.068250e+07  2.896652e+06  3.818614e+07  7.590200e+04
     GDP         2.004633e+10  1.278103e+10  2.097035e+11  3.249101e+09
2014 Population  3.162751e+07  2.893654e+06  3.893433e+07           NaN
     GDP         2.005019e+10  1.327796e+10  2.135185e+11           NaN
2015 Population  3.252656e+07  2.889167e+06  3.966652e+07           NaN
     GDP         1.919944e+10  1.145560e+10  1.668386e+11           NaN

country                Angola  Antigua and Barbuda    Arab World  \
year
1960 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1961 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1962 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1963 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1964 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1965 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1966 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1967 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1968 Population           NaN                  NaN  1.155571e+08
     GDP                  NaN                  NaN  2.552596e+10
1969 Population           NaN                  NaN  1.188239e+08
     GDP                  NaN                  NaN  2.817577e+10
1970 Population           NaN                  NaN  1.221282e+08
     GDP                  NaN                  NaN  3.109149e+10
1971 Population           NaN                  NaN  1.254391e+08
     GDP                  NaN                  NaN  3.610721e+10
1972 Population           NaN                  NaN  1.288012e+08
     GDP                  NaN                  NaN  4.296931e+10
1973 Population           NaN                  NaN  1.322990e+08
     GDP                  NaN                  NaN  5.459015e+10
1974 Population           NaN                  NaN  1.360445e+08
     GDP                  NaN                  NaN  1.046016e+11
...                       ...                  ...           ...
2001 Population  1.556279e+07         7.897200e+04  2.872918e+08
     GDP         8.936064e+09         7.737652e+08  7.221506e+11
2002 Population  1.610970e+07         8.003000e+04  2.934026e+08
     GDP         1.249735e+10         8.025293e+08  7.279939e+11
2003 Population  1.669140e+07         8.090400e+04  2.997320e+08
     GDP         1.418895e+10         8.399964e+08  8.218702e+11
2004 Population  1.729550e+07         8.171800e+04  3.063874e+08
     GDP         1.964085e+10         8.983561e+08  9.639180e+11
2005 Population  1.791294e+07         8.256500e+04  3.134309e+08
     GDP         2.823371e+10         9.973741e+08  1.184735e+12
2006 Population  1.854147e+07         8.346700e+04  3.209067e+08
     GDP         4.178948e+10         1.135144e+09  1.404190e+12
2007 Population  1.918391e+07         8.439700e+04  3.287666e+08
     GDP         6.044892e+10         1.289254e+09  1.641666e+12
2008 Population  1.984225e+07         8.535000e+04  3.368865e+08
     GDP         8.417803e+10         1.347350e+09  2.081343e+12
2009 Population  2.052010e+07         8.630000e+04  3.450542e+08
     GDP         7.549238e+10         1.206410e+09  1.798878e+12
2010 Population  2.121995e+07         8.723300e+04  3.531122e+08
     GDP         8.247091e+10         1.135539e+09  2.103825e+12
2011 Population  2.194230e+07         8.815200e+04  3.610318e+08
     GDP         1.041159e+11         1.129918e+09  2.497945e+12
2012 Population  2.268563e+07         8.906900e+04  3.688026e+08
     GDP         1.153984e+11         1.204713e+09  2.773270e+12
2013 Population  2.344820e+07         8.998500e+04  3.765043e+08
     GDP         1.249121e+11         1.200588e+09  2.846994e+12
2014 Population  2.422752e+07         9.090000e+04  3.842226e+08
     GDP         1.267751e+11         1.220976e+09  2.873600e+12
2015 Population  2.502197e+07         9.181800e+04  3.920223e+08
     GDP         1.026431e+11         1.297285e+09  2.530102e+12

country             Argentina       Armenia         Aruba  ...    Uzbekistan  \
year                                                       ...
1960 Population           NaN           NaN           NaN  ...           NaN
     GDP                  NaN           NaN           NaN  ...           NaN
1961 Population           NaN           NaN           NaN  ...           NaN
     GDP                  NaN           NaN           NaN  ...           NaN
1962 Population  2.128768e+07           NaN           NaN  ...           NaN
     GDP         2.445060e+10           NaN           NaN  ...           NaN
1963 Population  2.162184e+07           NaN           NaN  ...           NaN
     GDP         1.827212e+10           NaN           NaN  ...           NaN
1964 Population  2.195393e+07           NaN           NaN  ...           NaN
     GDP         2.560525e+10           NaN           NaN  ...           NaN
1965 Population  2.228339e+07           NaN           NaN  ...           NaN
     GDP         2.834471e+10           NaN           NaN  ...           NaN
1966 Population  2.260875e+07           NaN           NaN  ...           NaN
     GDP         2.863047e+10           NaN           NaN  ...           NaN
1967 Population  2.293220e+07           NaN           NaN  ...           NaN
     GDP         2.425667e+10           NaN           NaN  ...           NaN
1968 Population  2.326127e+07           NaN           NaN  ...           NaN
     GDP         2.643686e+10           NaN           NaN  ...           NaN
1969 Population  2.360599e+07           NaN           NaN  ...           NaN
     GDP         3.125628e+10           NaN           NaN  ...           NaN
1970 Population  2.397306e+07           NaN           NaN  ...           NaN
     GDP         3.158421e+10           NaN           NaN  ...           NaN
1971 Population  2.436644e+07           NaN           NaN  ...           NaN
     GDP         3.329320e+10           NaN           NaN  ...           NaN
1972 Population  2.478295e+07           NaN           NaN  ...           NaN
     GDP         3.473300e+10           NaN           NaN  ...           NaN
1973 Population  2.521339e+07           NaN           NaN  ...           NaN
     GDP         5.254400e+10           NaN           NaN  ...           NaN
1974 Population  2.564450e+07           NaN           NaN  ...           NaN
     GDP         7.243678e+10           NaN           NaN  ...           NaN
...                       ...           ...           ...  ...           ...
2001 Population  3.747154e+07  3.060036e+06  9.289400e+04  ...  2.496445e+07
     GDP         2.686968e+11  2.118468e+09  1.920263e+09  ...  1.140135e+10
2002 Population  3.788944e+07  3.047249e+06  9.499500e+04  ...  2.527185e+07
     GDP         9.772451e+10  2.376335e+09  1.941095e+09  ...  9.687951e+09
2003 Population  3.830948e+07  3.036420e+06  9.701500e+04  ...  2.556765e+07
     GDP         1.275863e+11  2.807061e+09  2.021302e+09  ...  1.012811e+10
2004 Population  3.872878e+07  3.025982e+06  9.874200e+04  ...  2.586435e+07
     GDP         1.818731e+11  3.576615e+09  2.228279e+09  ...  1.203002e+10
2005 Population  3.914549e+07  3.014917e+06  1.000310e+05  ...  2.616700e+07
     GDP         2.208138e+11  4.900470e+09  2.331006e+09  ...  1.430751e+10
2006 Population  3.955875e+07  3.002161e+06  1.008300e+05  ...  2.648825e+07
     GDP         2.626665e+11  6.384452e+09  2.421475e+09  ...  1.703090e+10
2007 Population  3.996990e+07  2.988117e+06  1.012180e+05  ...  2.686800e+07
     GDP         3.293175e+11  9.206302e+09  2.623726e+09  ...  2.231139e+10
2008 Population  4.038186e+07  2.975029e+06  1.013420e+05  ...  2.730280e+07
     GDP         4.037820e+11  1.166204e+10  2.791961e+09  ...  2.793403e+10
2009 Population  4.079864e+07  2.966108e+06  1.014160e+05  ...  2.776740e+07
     GDP         3.766279e+11  8.647937e+09  2.498933e+09  ...  3.281683e+10
2010 Population  4.122288e+07  2.963496e+06  1.015970e+05  ...  2.856240e+07
     GDP         4.616402e+11  9.260285e+09  2.467704e+09  ...  3.933277e+10
2011 Population  4.165562e+07  2.967984e+06  1.019360e+05  ...  2.933940e+07
     GDP         5.578902e+11  1.014211e+10  2.584464e+09  ...  4.532432e+10
2012 Population  4.209522e+07  2.978339e+06           NaN  ...  2.977450e+07
     GDP         6.043785e+11  1.061932e+10           NaN  ...  5.118344e+10
2013 Population  4.253830e+07  2.992192e+06           NaN  ...  3.024320e+07
     GDP         6.239320e+11  1.112147e+10           NaN  ...  5.679566e+10
2014 Population  4.298003e+07  3.006154e+06           NaN  ...  3.075770e+07
     GDP         5.480549e+11  1.164444e+10           NaN  ...  6.313285e+10
2015 Population           NaN  3.017712e+06           NaN  ...  3.129950e+07
     GDP                  NaN  1.056140e+10           NaN  ...  6.673280e+10

country               Vanuatu  Venezuela, RB       Vietnam  \
year
1960 Population           NaN   8.146845e+06           NaN
     GDP                  NaN   8.607600e+09           NaN
1961 Population           NaN   8.461684e+06           NaN
     GDP                  NaN   8.923367e+09           NaN
1962 Population           NaN   8.790590e+06           NaN
     GDP                  NaN   9.873398e+09           NaN
1963 Population           NaN   9.130346e+06           NaN
     GDP                  NaN   1.066338e+10           NaN
1964 Population           NaN   9.476255e+06           NaN
     GDP                  NaN   9.113581e+09           NaN
1965 Population           NaN   9.824694e+06           NaN
     GDP                  NaN   9.602945e+09           NaN
1966 Population           NaN   1.017514e+07           NaN
     GDP                  NaN   1.009657e+10           NaN
1967 Population           NaN   1.052805e+07           NaN
     GDP                  NaN   1.047278e+10           NaN
1968 Population           NaN   1.088200e+07           NaN
     GDP                  NaN   1.147091e+10           NaN
1969 Population           NaN   1.123549e+07           NaN
     GDP                  NaN   1.192757e+10           NaN
1970 Population           NaN   1.158776e+07           NaN
     GDP                  NaN   1.299312e+10           NaN
1971 Population           NaN   1.193780e+07           NaN
     GDP                  NaN   1.447156e+10           NaN
1972 Population           NaN   1.228643e+07           NaN
     GDP                  NaN   1.592287e+10           NaN
1973 Population           NaN   1.263697e+07           NaN
     GDP                  NaN   1.944593e+10           NaN
1974 Population           NaN   1.299402e+07           NaN
     GDP                  NaN   2.908710e+10           NaN
...                       ...            ...           ...
2001 Population  1.892880e+05   2.494022e+07  7.862050e+07
     GDP         2.579269e+08   1.229097e+11  3.529135e+10
2002 Population  1.939570e+05   2.539914e+07  7.953770e+07
     GDP         2.626038e+08   9.288959e+10  3.794790e+10
2003 Population  1.989630e+05   2.585755e+07  8.046740e+07
     GDP         3.144631e+08   8.362219e+10  4.271707e+10
2004 Population  2.041440e+05   2.631448e+07  8.143640e+07
     GDP         3.649969e+08   1.124514e+11  4.942411e+10
2005 Population  2.093750e+05   2.676912e+07  8.239210e+07
     GDP         3.949626e+08   1.455135e+11  5.763326e+10
2006 Population  2.146350e+05   2.722123e+07  8.331120e+07
     GDP         4.393768e+08   1.834775e+11  6.637166e+10
2007 Population  2.199560e+05   2.767066e+07  8.421850e+07
     GDP         5.264283e+08   2.303642e+11  7.741443e+10
2008 Population  2.253350e+05   2.811672e+07  8.511870e+07
     GDP         6.079586e+08   3.156002e+11  9.913030e+10
2009 Population  2.307820e+05   2.855861e+07  8.602500e+07
     GDP         6.100666e+08   3.294190e+11  1.060146e+11
2010 Population  2.362990e+05   2.899574e+07  8.693250e+07
     GDP         7.008043e+08   3.938015e+11  1.159317e+11
2011 Population  2.418760e+05   2.942763e+07  8.786030e+07
     GDP         7.921497e+08   3.164822e+11  1.355395e+11
2012 Population  2.474980e+05   2.985424e+07  8.880920e+07
     GDP         7.817029e+08   3.812862e+11  1.558200e+11
2013 Population  2.531650e+05   3.027604e+07  8.975950e+07
     GDP         8.017876e+08   3.713366e+11  1.712220e+11
2014 Population  2.588830e+05            NaN  9.072890e+07
     GDP         8.149546e+08            NaN  1.862047e+11
2015 Population           NaN            NaN  9.170380e+07
     GDP                  NaN            NaN  1.935994e+11

country          Virgin Islands (U.S.)  West Bank and Gaza         World  \
year
1960 Population                32000.0                 NaN  3.035056e+09
     GDP                    24200000.0                 NaN  1.364643e+12
1961 Population                34100.0                 NaN  3.076121e+09
     GDP                    25700000.0                 NaN  1.420440e+12
1962 Population                36300.0                 NaN  3.129064e+09
     GDP                    36900000.0                 NaN  1.524573e+12
1963 Population                38700.0                 NaN  3.193947e+09
     GDP                    41400000.0                 NaN  1.638187e+12
1964 Population                41300.0                 NaN  3.259355e+09
     GDP                    53800000.0                 NaN  1.799675e+12
1965 Population                44000.0                 NaN  3.326054e+09
     GDP                    66500000.0                 NaN  1.959900e+12
1966 Population                47300.0                 NaN  3.395866e+09
     GDP                    84100000.0                 NaN  2.125397e+12
1967 Population                50800.0                 NaN  3.465297e+09
     GDP                   115400000.0                 NaN  2.262923e+12
1968 Population                54600.0                 NaN  3.535512e+09
     GDP                   173800000.0                 NaN  2.440549e+12
1969 Population                58600.0                 NaN  3.609910e+09
     GDP                   211300000.0                 NaN  2.686747e+12
1970 Population                63000.0                 NaN  3.684997e+09
     GDP                   219000000.0                 NaN  2.950656e+12
1971 Population                71000.0                 NaN  3.762290e+09
     GDP                   257000000.0                 NaN  3.259057e+12
1972 Population                76000.0                 NaN  3.839016e+09
     GDP                   307100000.0                 NaN  3.757853e+12
1973 Population                84000.0                 NaN  3.914800e+09
     GDP                   351600000.0                 NaN  4.578523e+12
1974 Population                90000.0                 NaN  3.991194e+09
     GDP                   395400000.0                 NaN  5.279355e+12
...                                ...                 ...           ...
2001 Population                    NaN        2.997784e+06  6.195590e+09
     GDP                           NaN        4.003700e+09  3.313421e+13
2002 Population                    NaN        3.075373e+06  6.274734e+09
     GDP                           NaN        3.555800e+09  3.441805e+13
2003 Population                    NaN        3.154969e+06  6.353976e+09
     GDP                           NaN        3.968000e+09  3.865630e+13
2004 Population                    NaN        3.236626e+06  6.433749e+09
     GDP                           NaN        4.329200e+09  4.355213e+13

In [46]:
s.unstack(level = [1, 0])

year,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,...,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960
country,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,...,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe
Population,3.920223e+08,3.842226e+08,3.765043e+08,3.688026e+08,3.610318e+08,3.531122e+08,3.450542e+08,3.368865e+08,3.287666e+08,3.209067e+08,...,5.036321e+06,4.874113e+06,4.718612e+06,4.568320e+06,4.422132e+06,4.279561e+06,4.140804e+06,4.006262e+06,3.876638e+06,3.752390e+06
GDP,2.530102e+12,2.873600e+12,2.846994e+12,2.773270e+12,2.497945e+12,2.103825e+12,1.798878e+12,2.081343e+12,1.641666e+12,1.404190e+12,...,1.747999e+09,1.479600e+09,1.397002e+09,1.281750e+09,1.311436e+09,1.217138e+09,1.159512e+09,1.117602e+09,1.096647e+09,1.052990e+09

In [47]:
s.unstack(level=["year", "country"])

year,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,...,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960
country,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,...,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe
Population,3.920223e+08,3.842226e+08,3.765043e+08,3.688026e+08,3.610318e+08,3.531122e+08,3.450542e+08,3.368865e+08,3.287666e+08,3.209067e+08,...,5.036321e+06,4.874113e+06,4.718612e+06,4.568320e+06,4.422132e+06,4.279561e+06,4.140804e+06,4.006262e+06,3.876638e+06,3.752390e+06
GDP,2.530102e+12,2.873600e+12,2.846994e+12,2.773270e+12,2.497945e+12,2.103825e+12,1.798878e+12,2.081343e+12,1.641666e+12,1.404190e+12,...,1.747999e+09,1.479600e+09,1.397002e+09,1.281750e+09,1.311436e+09,1.217138e+09,1.159512e+09,1.117602e+09,1.096647e+09,1.052990e+09

In [49]:
s.unstack("year", fill_value = 0)

year                                      1960          1961          1962  \
country
Afghanistan           Population  8.994793e+06  9.164945e+06  9.343772e+06
                      GDP         5.377778e+08  5.488889e+08  5.466667e+08
Albania               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Algeria               Population  1.112489e+07  1.140486e+07  1.169015e+07
                      GDP         2.723638e+09  2.434767e+09  2.001461e+09
Andorra               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Angola                Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Antigua and Barbuda   Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Arab World            Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Argentina             Population  0.000000e+00  0.000000e+00  2.128768e+07
                      GDP         0.000000e+00  0.000000e+00  2.445060e+10
Armenia               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Aruba                 Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Australia             Population  1.027648e+07  1.048300e+07  1.074200e+07
                      GDP         1.856759e+10  1.963938e+10  1.988353e+10
Austria               Population  7.047539e+06  7.086299e+06  7.129864e+06
                      GDP         6.592694e+09  7.311750e+09  7.756110e+09
Azerbaijan            Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Bahamas, The          Population  1.095260e+05  1.151080e+05  1.210830e+05
                      GDP         1.698023e+08  1.900962e+08  2.122528e+08
Bahrain               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
...                                        ...           ...           ...
United Arab Emirates  Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
United Kingdom        Population  5.240000e+07  5.280000e+07  5.325000e+07
                      GDP         7.232805e+10  7.669436e+10  8.060194e+10
United States         Population  1.806710e+08  1.836910e+08  1.865380e+08
                      GDP         5.433000e+11  5.633000e+11  6.051000e+11
Upper middle income   Population  1.154592e+09  1.159145e+09  1.176093e+09
                      GDP         1.854612e+11  1.690732e+11  1.777957e+11
Uruguay               Population  2.538651e+06  2.571691e+06  2.603887e+06
                      GDP         1.242289e+09  1.547389e+09  1.710004e+09
Uzbekistan            Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Vanuatu               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Venezuela, RB         Population  8.146845e+06  8.461684e+06  8.790590e+06
                      GDP         8.607600e+09  8.923367e+09  9.873398e+09
Vietnam               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Virgin Islands (U.S.) Population  3.200000e+04  3.410000e+04  3.630000e+04
                      GDP         2.420000e+07  2.570000e+07  3.690000e+07
West Bank and Gaza    Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
World                 Population  3.035056e+09  3.076121e+09  3.129064e+09
                      GDP         1.364643e+12  1.420440e+12  1.524573e+12
Yemen, Rep.           Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Zambia                Population  3.049586e+06  3.142848e+06  3.240664e+06
                      GDP         6.987397e+08  6.823597e+08  6.792797e+08
Zimbabwe              Population  3.752390e+06  3.876638e+06  4.006262e+06
                      GDP         1.052990e+09  1.096647e+09  1.117602e+09

year                                      1963          1964          1965  \
country
Afghanistan           Population  9.531555e+06  9.728645e+06  9.935358e+06
                      GDP         7.511112e+08  8.000000e+08  1.006667e+09
Albania               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Algeria               Population  1.198513e+07  1.229597e+07  1.262695e+07
                      GDP         2.703004e+09  2.909340e+09  3.136284e+09
Andorra               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Angola                Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Antigua and Barbuda   Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Arab World            Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Argentina             Population  2.162184e+07  2.195393e+07  2.228339e+07
                      GDP         1.827212e+10  2.560525e+10  2.834471e+10
Armenia               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Aruba                 Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Australia             Population  1.095000e+07  1.116700e+07  1.138800e+07
                      GDP         2.149737e+10  2.375406e+10  2.592564e+10
Austria               Population  7.175811e+06  7.223801e+06  7.270889e+06
                      GDP         8.374175e+09  9.169984e+09  9.994071e+09
Azerbaijan            Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Bahamas, The          Population  1.273310e+05  1.336970e+05  1.400490e+05
                      GDP         2.377428e+08  2.666641e+08  3.003922e+08
Bahrain               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
...                                        ...           ...           ...
United Arab Emirates  Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
United Kingdom        Population  5.365000e+07  5.400000e+07  5.434805e+07
                      GDP         8.544377e+10  9.338760e+10  1.005958e+11
United States         Population  1.892420e+08  1.918890e+08  1.943030e+08
                      GDP         6.386000e+11  6.858000e+11  7.437000e+11
Upper middle income   Population  1.204372e+09  1.232266e+09  1.261069e+09
                      GDP         1.955819e+11  2.144250e+11  2.397244e+11
Uruguay               Population  2.635128e+06  2.665387e+06  2.694535e+06
                      GDP         1.539682e+09  1.975702e+09  1.890769e+09
Uzbekistan            Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Vanuatu               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Venezuela, RB         Population  9.130346e+06  9.476255e+06  9.824694e+06
                      GDP         1.066338e+10  9.113581e+09  9.602945e+09
Vietnam               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Virgin Islands (U.S.) Population  3.870000e+04  4.130000e+04  4.400000e+04
                      GDP         4.140000e+07  5.380000e+07  6.650000e+07
West Bank and Gaza    Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
World                 Population  3.193947e+09  3.259355e+09  3.326054e+09
                      GDP         1.638187e+12  1.799675e+12  1.959900e+12
Yemen, Rep.           Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Zambia                Population  3.342894e+06  3.449266e+06  3.559687e+06
                      GDP         7.043397e+08  8.226397e+08  1.061200e+09
Zimbabwe              Population  4.140804e+06  4.279561e+06  4.422132e+06
                      GDP         1.159512e+09  1.217138e+09  1.311436e+09

year                                      1966          1967          1968  \
country
Afghanistan           Population  1.014884e+07  1.036860e+07  1.059979e+07
                      GDP         1.400000e+09  1.673333e+09  1.373333e+09
Albania               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Algeria               Population  1.298027e+07  1.335420e+07  1.374438e+07
                      GDP         3.039859e+09  3.370870e+09  3.852147e+09
Andorra               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Angola                Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Antigua and Barbuda   Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Arab World            Population  0.000000e+00  0.000000e+00  1.155571e+08
                      GDP         0.000000e+00  0.000000e+00  2.552596e+10
Argentina             Population  2.260875e+07  2.293220e+07  2.326127e+07
                      GDP         2.863047e+10  2.425667e+10  2.643686e+10
Armenia               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Aruba                 Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Australia             Population  1.165100e+07  1.179900e+07  1.200900e+07
                      GDP         2.725053e+10  3.037854e+10  3.264195e+10
Austria               Population  7.322066e+06  7.376998e+06  7.415403e+06
                      GDP         1.088768e+10  1.157943e+10  1.244063e+10
Azerbaijan            Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Bahamas, The          Population  1.463640e+05  1.526070e+05  1.586290e+05
                      GDP         3.400000e+08  3.901961e+08  4.449020e+08
Bahrain               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
...                                        ...           ...           ...
United Arab Emirates  Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
United Kingdom        Population  5.464850e+07  5.494360e+07  5.521170e+07
                      GDP         1.070907e+11  1.111854e+11  1.047027e+11
United States         Population  1.965600e+08  1.987120e+08  2.007060e+08
                      GDP         8.150000e+11  8.617000e+11  9.425000e+11
Upper middle income   Population  1.292755e+09  1.323615e+09  1.355381e+09
                      GDP         2.666625e+11  2.766866e+11  2.898954e+11
Uruguay               Population  2.722874e+06  2.750093e+06  2.774771e+06
                      GDP         1.809184e+09  1.597721e+09  1.593675e+09
Uzbekistan            Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Vanuatu               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Venezuela, RB         Population  1.017514e+07  1.052805e+07  1.088200e+07
                      GDP         1.009657e+10  1.047278e+10  1.147091e+10
Vietnam               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Virgin Islands (U.S.) Population  4.730000e+04  5.080000e+04  5.460000e+04
                      GDP         8.410000e+07  1.154000e+08  1.738000e+08
West Bank and Gaza    Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
World                 Population  3.395866e+09  3.465297e+09  3.535512e+09
                      GDP         2.125397e+12  2.262923e+12  2.440549e+12
Yemen, Rep.           Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Zambia                Population  3.674088e+06  3.792864e+06  3.916928e+06
                      GDP         1.239000e+09  1.340639e+09  1.573739e+09
Zimbabwe              Population  4.568320e+06  4.718612e+06  4.874113e+06
                      GDP         1.281750e+09  1.397002e+09  1.479600e+09

year                                      1969  ...          2006  \
country                                         ...
Afghanistan           Population  1.084951e+07  ...  2.518362e+07
                      GDP         1.408889e+09  ...  7.057598e+09
Albania               Population  0.000000e+00  ...  2.992547e+06
                      GDP         0.000000e+00  ...  8.992642e+09
Algeria               Population  1.414444e+07  ...  3.374933e+07
                      GDP         4.257253e+09  ...  1.170273e+11
Andorra               Population  0.000000e+00  ...  8.337300e+04
                      GDP         0.000000e+00  ...  3.536452e+09
Angola                Population  0.000000e+00  ...  1.854147e+07
                      GDP         0.000000e+00  ...  4.178948e+10
Antigua and Barbuda   Population  0.000000e+00  ...  8.346700e+04
                      GDP         0.000000e+00  ...  1.135144e+09
Arab World            Population  1.188239e+08  ...  3.209067e+08
                      GDP         2.817577e+10  ...  1.404190e+12
Argentina             Population  2.360599e+07  ...  3.955875e+07
                      GDP         3.125628e+10  ...  2.626665e+11
Armenia               Population  0.000000e+00  ...  3.002161e+06
                      GDP         0.000000e+00  ...  6.384452e+09
Aruba                 Population  0.000000e+00  ...  1.008300e+05
                      GDP         0.000000e+00  ...  2.421475e+09
Australia             Population  1.226300e+07  ...  2.069790e+07
                      GDP         3.660656e+10  ...  7.468808e+11
Austria               Population  7.441055e+06  ...  8.268641e+06
                      GDP         1.358280e+10  ...  3.343094e+11
Azerbaijan            Population  0.000000e+00  ...  8.484550e+06
                      GDP         0.000000e+00  ...  2.098302e+10
Bahamas, The          Population  1.642500e+05  ...  3.358010e+05
                      GDP         5.281373e+08  ...  7.965588e+09
Bahrain               Population  0.000000e+00  ...  9.408080e+05
                      GDP         0.000000e+00  ...  1.850505e+10
...                                        ...  ...           ...
United Arab Emirates  Population  0.000000e+00  ...  5.171255e+06
                      GDP         0.000000e+00  ...  2.221059e+11
United Kingdom        Population  5.544175e+07  ...  6.084682e+07
                      GDP         1.126769e+11  ...  2.588077e+12
United States         Population  2.026770e+08  ...  2.983799e+08
                      GDP         1.019900e+12  ...  1.385589e+13
Upper middle income   Population  1.388827e+09  ...  2.380136e+09
                      GDP         3.221882e+11  ...  8.620784e+12
Uruguay               Population  2.795044e+06  ...  3.331041e+06
                      GDP         2.004435e+09  ...  1.957946e+10
Uzbekistan            Population  0.000000e+00  ...  2.648825e+07
                      GDP         0.000000e+00  ...  1.703090e+10
Vanuatu               Population  0.000000e+00  ...  2.146350e+05
                      GDP         0.000000e+00  ...  4.393768e+08
Venezuela, RB         Population  1.123549e+07  ...  2.722123e+07
                      GDP         1.192757e+10  ...  1.834775e+11
Vietnam               Population  0.000000e+00  ...  8.331120e+07
                      GDP         0.000000e+00  ...  6.637166e+10
Virgin Islands (U.S.) Population  5.860000e+04  ...  0.000000e+00
                      GDP         2.113000e+08  ...  0.000000e+00
West Bank and Gaza    Population  0.000000e+00  ...  3.406334e+06
                      GDP         0.000000e+00  ...  4.910100e+09
World                 Population  3.609910e+09  ...  6.594722e+09
                      GDP         2.686747e+12  ...  5.107451e+13
Yemen, Rep.           Population  0.000000e+00  ...  2.109397e+07
                      GDP         0.000000e+00  ...  1.908173e+10
Zambia                Population  4.047479e+06  ...  1.238151e+07
                      GDP         1.926399e+09  ...  1.275686e+10
Zimbabwe              Population  5.036321e+06  ...  1.312794e+07
                      GDP         1.747999e+09  ...  5.443896e+09

year                                      2007          2008          2009  \
country
Afghanistan           Population  2.587754e+07  2.652874e+07  2.720729e+07
                      GDP         9.843842e+09  1.019053e+10  1.248694e+10
Albania               Population  2.970017e+06  2.947314e+06  2.927519e+06
                      GDP         1.070101e+10  1.288135e+10  1.204421e+10
Algeria               Population  3.426197e+07  3.481106e+07  3.540179e+07
                      GDP         1.349771e+11  1.710007e+11  1.372110e+11
Andorra               Population  8.487800e+04  8.561600e+04  8.547400e+04
                      GDP         4.010785e+09  4.001349e+09  3.649863e+09
Angola                Population  1.918391e+07  1.984225e+07  2.052010e+07
                      GDP         6.044892e+10  8.417803e+10  7.549238e+10
Antigua and Barbuda   Population  8.439700e+04  8.535000e+04  8.630000e+04
                      GDP         1.289254e+09  1.347350e+09  1.206410e+09
Arab World            Population  3.287666e+08  3.368865e+08  3.450542e+08
                      GDP         1.641666e+12  2.081343e+12  1.798878e+12
Argentina             Population  3.996990e+07  4.038186e+07  4.079864e+07
                      GDP         3.293175e+11  4.037820e+11  3.766279e+11
Armenia               Population  2.988117e+06  2.975029e+06  2.966108e+06
                      GDP         9.206302e+09  1.166204e+10  8.647937e+09
Aruba                 Population  1.012180e+05  1.013420e+05  1.014160e+05
                      GDP         2.623726e+09  2.791961e+09  2.498933e+09
Australia             Population  2.082760e+07  2.124920e+07  2.169170e+07
                      GDP         8.530533e+11  1.054558e+12  9.265638e+11
Austria               Population  8.295487e+06  8.321496e+06  8.343323e+06

# The pivot method

In [59]:
rev = pd.read_csv("./../data/bigmac.csv", parse_dates = ["Date"])

In [60]:
rev.head()

   Unnamed: 0       Date      Country  Price in US Dollars
0           0 2000-04-01    Argentina             2.500000
1           1 2000-04-01    Australia             1.541667
2           2 2000-04-01       Brazil             1.648045
3           3 2000-04-01       Canada             1.938776
4           4 2000-04-01  Switzerland             3.470588

In [65]:
rev["Country"].value_counts()
rev['Country'] = rev['Country'].astype("category")

In [66]:
rev.head(3)

   Unnamed: 0       Date    Country  Price in US Dollars
0           0 2000-04-01  Argentina             2.500000
1           1 2000-04-01  Australia             1.541667
2           2 2000-04-01     Brazil             1.648045

In [75]:
rev.pivot(index = "Date", columns = "Country", values = "Price in US Dollars")

Country,Argentina,Australia,Azerbaijan,Bahrain,Brazil,Britain,Canada,Chile,China,Colombia,...,Switzerland,Taiwan,Thailand,Turkey,UAE,Ukraine,United Arab Emirates,United States,Uruguay,Vietnam
Date,,,,,,,,,,,,,,,,,,,,,
2000-04-01,2.500000,1.541667,NaN,NaN,1.648045,3.002000,1.938776,2.451362,1.195652,NaN,...,3.470588,2.287582,1.447368,NaN,NaN,NaN,NaN,2.510000,NaN,NaN
2001-04-01,2.500000,1.515152,NaN,NaN,1.643836,2.845700,2.134615,2.096506,1.195652,NaN,...,3.641618,2.127660,1.208791,NaN,NaN,NaN,NaN,2.540000,NaN,NaN
2002-04-01,0.798722,1.612903,NaN,NaN,1.538462,2.885500,2.121019,2.137405,1.268116,NaN,...,3.795181,2.011494,1.270208,3.020008,NaN,NaN,NaN,2.490000,NaN,NaN
2003-04-01,1.423611,1.863354,NaN,NaN,1.482085,3.144200,2.206897,1.955307,1.195652,NaN,...,4.598540,2.011494,1.381733,2.343018,NaN,NaN,NaN,2.710000,NaN,NaN
2004-05-01,1.477966,2.272727,NaN,NaN,1.698113,3.365200,2.328467,2.184087,1.256039,2.346714,...,4.883721,2.245509,1.446078,2.580013,NaN,1.359842,NaN,2.900000,1.002186,NaN
2005-06-01,1.639627,2.497119,NaN,NaN,2.393703,3.440400,2.625260,2.531859,1.268668,2.792456,...,5.050100,2.405774,1.480385,2.921841,2.450647,1.432806,NaN,3.060000,1.823834,NaN
2006-01-01,1.550362,2.442140,NaN,NaN,2.741543,3.316132,3.007519,2.984218,1.302067,NaN,...,4.931121,2.347455,1.509244,3.067714,NaN,NaN,NaN,3.150000,NaN,NaN
2006-05-01,2.290201,2.438969,NaN,NaN,2.777175,3.647976,3.141595,2.943674,1.308248,2.596261,...,5.211565,2.333468,1.560671,2.724619,2.450580,1.683168,NaN,3.100000,1.767189,NaN
2007-01-01,2.670983,2.723258,NaN,NaN,2.999766,3.833731,3.089756,3.091734,1.414918,3.081286,...,5.046055,2.277870,1.756374,3.227523,2.722867,1.782178,NaN,3.220000,2.298851,NaN
2007-06-01,2.668607,2.948718,NaN,NaN,3.606900,4.007164,3.683136,2.971049,1.446474,3.527607,...,5.201453,2.288644,1.799449,3.659194,2.722681,1.839881,NaN,3.410000,2.589267,NaN
2008-06-01,3.642987,3.362573,NaN,NaN,4.733056,4.570497,4.075532,3.133529,1.829090,3.891808,...,6.359145,2.470152,1.858513,4.317753,2.722681,2.391304,NaN,3.570000,3.185379,NaN
2009-07-01,3.017383,3.372445,NaN,NaN,4.020830,3.688274,3.350993,3.190229,1.829438,3.340332,...,5.984991,2.260704,1.887604,3.645044,2.722570,1.827676,NaN,3.570000,2.632715,NaN
2010-01-01,1.842833,3.977870,NaN,NaN,4.758313,3.671328,3.973765,3.180282,1.830912,3.912960,...,6.303642,2.355343,2.112570,3.831677,2.994827,1.827676,NaN,3.580000,3.323263,NaN
2010-07-01,3.558945,3.836918,NaN,NaN,4.907180,3.483548,4.000576,3.341927,1.947793,4.388664,...,6.185469,2.336048,2.166847,3.890669,2.994949,1.835675,NaN,3.733333,3.744076,NaN
2011-07-01,4.839685,4.943724,NaN,NaN,6.162429,3.891637,5.000793,3.997839,2.273080,4.744422,...,8.063016,2.601096,2.352941,3.772818,3.267040,2.064048,NaN,4.065000,4.878049,NaN
2012-01-01,4.636606,4.936560,NaN,NaN,5.678670,3.823395,4.632940,4.050983,2.438445,4.535270,...,6.805570,2.501710,2.456693,3.542768,3.267084,2.114296,NaN,4.197220,4.627249,NaN
2012-07-01,4.160964,4.680156,NaN,NaN,4.935974,4.162372,5.022316,4.157793,2.449714,4.765929,...,6.561680,2.483814,2.586751,4.515847,3.267129,1.855173,NaN,4.327500,4.526749,NaN
2013-01-01,3.817944,4.900455,NaN,NaN,5.643766,4.248182,5.394356,4.345522,2.572182,4.850057,...,7.124849,2.542201,2.923878,4.777385,3.267040,2.333006,NaN,4.367396,5.446058,NaN
2013-07-01,3.879908,4.619864,NaN,NaN,5.284830,4.020070,5.260404,3.935807,2.608370,4.476835,...,6.719041,2.630834,2.845723,4.342384,3.267084,2.329859,NaN,4.556667,4.979843,NaN
2014-01-01,3.034134,4.473542,NaN,NaN,5.247456,4.626796,5.013121,3.690377,2.743212,4.337312,...,7.142465,2.619277,2.920152,3.758484,3.267084,2.267574,NaN,4.624167,4.911132,NaN
2014-07-01,2.570773,4.814145,NaN,NaN,5.855196,4.925138,5.251152,3.722480,2.726554,4.654561,...,6.826241,2.634914,3.115167,4.423192,3.539293,1.626016,NaN,4.795000,4.919460,2.826189
2015-01-01,3.252033,4.318705,NaN,NaN,5.206827,4.368235,4.639616,3.346694,2.769057,3.340409,...,7.543666,2.508494,3.036344,3.964088,3.539293,1.200860,NaN,4.790000,4.626407,2.806361
2015-07-01,3.065134,3.922265,NaN,NaN,4.282519,4.512446,4.535939,3.268737,2.737873,2.916313,...,6.821998,2.546744,3.168317,3.874211,3.539389,1.548975,NaN,4.790000,4.132383,2.751032
2016-01-01,2.389703,3.743655,NaN,NaN,3.354204,4.221857,4.144195,2.936180,2.683663,2.427856,...,6.443299,2.076343,3.092214,3.405768,3.539245,1.541756,NaN,4.930000,3.743581,2.670524
2016-07-01,3.347841,4.304738,NaN,NaN,4.781811,3.940222,4.604758,3.532375,2.785265,3.038580,...,6.591624,2.154298,3.403403,3.532640,3.539245,1.572581,NaN,5.040000,4.077573,2.690583
2017-01-01,3.468390,4.275180,NaN,NaN,5.117945,3.728394,4.509804,3.641471,2.829671,3.305923,...,6.350137,2.162670,3.345234,2.748552,3.539341,1.542133,NaN,5.060000,4.351610,2.658161
2017-07-01,4.125534,4.527955,NaN,NaN,5.101568,4.111432,4.655697,3.844096,2.917127,3.243605,...,6.741690,2.263965,3.496247,3.006110,3.811598,1.697858,NaN,5.300000,4.528828,2.639393
2018-01-01,3.960396,4.706135,NaN,NaN,5.111683,4.413046,5.257244,4.290889,3.171642,3.832468,...,6.764844,2.334788,3.724570,2.827013,3.811598,1.636775,NaN,5.280000,4.898530,2.861986
2018-07-01,2.705140,4.515417,2.32114,3.161639,4.402934,4.231535,5.067246,4.050757,3.095741,4.140470,...,6.544173,2.271792,3.587579,2.284197,NaN,1.908470,3.811442,5.510000,4.471415,2.821242

# The pivot_table() method

In [78]:
foods = pd.read_csv("./../data/foods.csv")
foods.head(3)

  First Name  Gender      City Frequency     Item  Spend
0      Wanda  Female  Stamford    Weekly   Burger  15.66
1       Eric    Male  Stamford     Daily  Chalupa  10.56
2    Charles    Male  New York     Never    Sushi  42.14

In [83]:
foods.pivot_table(values = "Spend", index = ["Gender", "City"], aggfunc="sum")

                       Spend
Gender City
Female New York      7543.26
       Philadelphia  9632.69
       Stamford      8787.38
Male   New York      8266.31
       Philadelphia  8201.85
       Stamford      7637.88

In [87]:
foods.pivot_table(values = "Spend", index = ["City", "Item"],columns = ["Frequency","Gender"], aggfunc="sum")

Frequency                Daily         Monthly           Never          \
Gender                  Female    Male  Female    Male  Female    Male
City         Item
New York     Burger     262.67  319.46  171.86  187.29   97.89   90.32
             Burrito    224.45  236.21  122.74  147.54  189.73   86.78
             Chalupa     43.19   54.09  158.37  333.76   35.15  199.09
             Donut      478.10  230.00  284.53  183.73   56.07  219.63
             Ice Cream  262.19  178.22   92.53  152.20  206.15   57.54
             Sushi       81.07  225.57   93.16  430.86   69.33  164.01
Philadelphia Burger     231.68  112.70  215.05  213.14  218.97   17.31
             Burrito    321.57  165.76   34.28   89.58  382.30  378.32
             Chalupa     23.49  274.81  289.96   90.70  121.97  242.98
             Donut      247.40  190.71   50.25  259.29  433.58   53.65
             Ice Cream  177.69  148.69   74.51  386.55  156.03  321.94
             Sushi      348.53  280.93   78.71  155.59  190.58  245.77
Stamford     Burger     144.66  197.72  238.49   27.16   90.97     NaN
             Burrito    195.63  276.23   67.94  119.60  366.34  351.84
             Chalupa     95.70  192.64  161.98  343.76  156.36  138.70
             Donut      124.35  129.42  229.30  119.53  157.33  219.64
             Ice Cream   92.88   15.17  125.85   74.36   77.66  119.77
             Sushi      393.27     NaN  108.39   93.03   19.56  204.90

Frequency                Often            Once          Seldom          \
Gender                  Female    Male  Female    Male  Female    Male
City         Item
New York     Burger      94.96   55.47  104.85  296.57   63.16  225.68
             Burrito    103.60  189.92   59.94   59.11  167.54  202.40
             Chalupa     39.73  251.52  110.80   46.68  160.00   11.69
             Donut      130.63  139.80   58.13  338.32   90.81   16.25
             Ice Cream  232.26  347.55  106.85  214.14  242.35  270.42
             Sushi      343.94    9.31  161.79  136.32   87.70  160.49
Philadelphia Burger     288.81   73.84  120.51   35.88  409.05  188.06
             Burrito    244.91   54.77   98.02  189.03  198.11   27.71
             Chalupa    175.35    1.94  199.20  168.56  274.51  130.75
             Donut      175.78  262.41  164.97  223.88  183.25   99.01
             Ice Cream  107.92  356.73  314.83  377.74  203.10  138.44
             Sushi       85.87  167.11  245.10  161.09  314.24   91.26
Stamford     Burger      87.27  192.61   95.05  326.64   97.53  159.75
             Burrito    383.81   88.14  168.01   30.15  234.49    9.84
             Chalupa    419.62  140.58   40.59     NaN  175.25  174.02
             Donut      218.54  321.55  158.24  139.89  104.66  163.31
             Ice Cream  198.31  290.64  279.33  182.71  117.73   40.83
             Sushi       38.02   44.22  194.75  314.65   27.82  224.15

Frequency               Weekly          Yearly
Gender                  Female    Male  Female    Male
City         Item
New York     Burger     184.35   69.69  259.30   49.61
             Burrito     39.69  256.74   71.26  220.70
             Chalupa    171.52  163.20  157.82  167.74
             Donut      285.56   74.44   62.95  143.10
             Ice Cream  227.62  223.86  151.67  159.70
             Sushi      410.89  150.15  232.41  119.44
Philadelphia Burger      32.00   99.89  123.17  197.36
             Burrito     62.82  289.25  116.75  118.51
             Chalupa     84.41  135.68  504.44   68.81
             Donut      208.80  115.80  175.23   44.61
             Ice Cream  285.28  221.24  159.86  239.94
             Sushi      334.00  260.33  145.85   33.80
Stamford     Burger     155.02  310.21  307.03  225.07
             Burrito    230.91  161.85  172.98  262.64
             Chalupa    204.69   44.37  348.16  116.19
             Donut      440.06  311.27  224.48   16.52
             Ice Cream  125.03  239.42   15.24   96.32
             Sushi      315.36  338.16  362.74   48.71

In [92]:
foods.pivot_table(values = "Spend", index = ["City", "Item"],columns ="Gender", aggfunc="max")

Gender                  Female   Male
City         Item
New York     Burger      98.96  90.32
             Burrito     92.25  98.04
             Chalupa     98.43  96.44
             Donut       95.63  86.70
             Ice Cream   97.83  97.65
             Sushi       99.51  93.85
Philadelphia Burger      97.79  99.68
             Burrito     96.79  93.27
             Chalupa     99.29  98.40
             Donut       96.52  93.12
             Ice Cream   88.14  99.24
             Sushi       99.02  97.12
Stamford     Burger      85.06  97.20
             Burrito     99.21  95.07
             Chalupa     98.78  99.87
             Donut       91.75  99.26
             Ice Cream   97.44  99.17
             Sushi       95.43  98.48

In [93]:
foods.pivot_table(values = "Spend", index = ["City", "Item"],columns ="Gender", aggfunc="count")

Gender                  Female  Male
City         Item
New York     Burger         24    22
             Burrito        23    25
             Chalupa        19    25
             Donut          31    30
             Ice Cream      27    29
             Sushi          31    27
Philadelphia Burger         31    21
             Burrito        28    30
             Chalupa        32    23
             Donut          30    33
             Ice Cream      32    41
             Sushi          30    28
Stamford     Burger         27    31
             Burrito        34    28
             Chalupa        25    23
             Donut          34    29
             Ice Cream      22    25
             Sushi          32    18

# The pd.melt() function

In [94]:
 # takes an aggrigated dataset and converts it to a tabulated format

In [97]:
sales = pd.read_csv("./../data/quarters.csv")
sales.head()

  Salesman      Q1      Q2      Q3      Q4
0    Boris  602908  233879  354479   32704
1      Bob   43790  514863  297151  544493
2    Tommy  392668  113579  430882  247231
3   Travis  834663  266785  749238  570524
4   Donald  580935  411379  110390  651572

In [99]:
s = sales.transpose()
s.columns = sales["Salesman"]

In [100]:
s.head()

Salesman,Boris,Bob,Tommy,Travis,Donald,Ted,Jeb,Stacy,Morgan
Salesman,Boris,Bob,Tommy,Travis,Donald,Ted,Jeb,Stacy,Morgan
Q1,602908,43790,392668,834663,580935,656644,486141,479662,992673
Q2,233879,514863,113579,266785,411379,70803,600753,742806,879183
Q3,354479,297151,430882,749238,110390,375948,742716,770712,37945
Q4,32704,544493,247231,570524,651572,321388,404995,2501,293710

In [104]:
pd.melt(sales, id_vars = "Salesman", var_name= "Quarter", value_name = "Revenue")

   Salesman Quarter  Revenue
0     Boris      Q1   602908
1       Bob      Q1    43790
2     Tommy      Q1   392668
3    Travis      Q1   834663
4    Donald      Q1   580935
5       Ted      Q1   656644
6       Jeb      Q1   486141
7     Stacy      Q1   479662
8    Morgan      Q1   992673
9     Boris      Q2   233879
10      Bob      Q2   514863
11    Tommy      Q2   113579
12   Travis      Q2   266785
13   Donald      Q2   411379
14      Ted      Q2    70803
15      Jeb      Q2   600753
16    Stacy      Q2   742806
17   Morgan      Q2   879183
18    Boris      Q3   354479
19      Bob      Q3   297151
20    Tommy      Q3   430882
21   Travis      Q3   749238
22   Donald      Q3   110390
23      Ted      Q3   375948
24      Jeb      Q3   742716
25    Stacy      Q3   770712
26   Morgan      Q3    37945
27    Boris      Q4    32704
28      Bob      Q4   544493
29    Tommy      Q4   247231
30   Travis      Q4   570524
31   Donald      Q4   651572
32      Ted      Q4   321388
33      Jeb      Q4   404995
34    Stacy      Q4     2501
35   Morgan      Q4   293710